@use '../../partials/breakpoints' as *;

.homeTextRight {
    &__container {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
    }
    &__text {
        width: 50%;
        @include tablet {
            width: 30%;
        }
        @include desktop {
            width: 20%;
        }
    }
}