@use '../../partials/breakpoints' as *;

.home {
    &__container {
        padding: 80px 40px;
        @include tablet {
            padding: 20px 50px 0 50px;
        }
        @include desktop {
            padding: 45px;
        }
    }
}