// Mobile - _m
// Desktop and Tablet - _dt

// ! Header - H1
$h1_text_size_m: 40px;
$h1_line_height_m: 36px;
$h1_text_size_dt: 42px;
$h1_line_height_dt: 44px;

// ! Subheader - H2
$h2_text_size_m: 22px;
$h2_line_height_m: 28px;
$h2_text_size_dt: 24px;
$h2_line_height_dt: 32px;

// ! Paragraph - H3
$h3_text_size_m: 16px;
$h3_line_height_m: 22px;
$h3_text_size_dt: 18px;
$h3_line_height_dt: 24px;

// ! Lists & contact information - H4
$h4_text_size_m: 13px;
$h4_line_height_m: 18px;
$h4_text_size_dt: 15px;
$h4_line_height_dt: 22px;

// ! Labels - H5
$h5_text_size_m: 11px;
$h5_line_height_m: 20px;
$h5_text_size_dt: 12px;
$h5_line_height_dt: 20px;